<h1>All Places</h1>



<div class="container">
  <div class="row">
    <% @places.each do |place| %>
    	<div class="col-sm-6 border">
     		<p><%= link_to place.name, all_place_path(place) %></p>
	 			<p><%= image_tag place.image.url(:medium)%></p>
	 		</div>
   	<% end %>
  </div>
</div>